.message-container {    
    height: 80%;
    width: 1400px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #fff;
    background: #350616;
    border-radius: 0.6rem;
    border: 2px solid #350616;
    padding: 1rem;
    margin: 1rem;
    overflow: auto;
    text-align: left;
}

.message {
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}